<div class="container">
    <div class="box">
        <h1>Sobre nosotros</h1>
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt sapiente dignissimos, voluptatum eum vero similique omnis tenetur, illum in aliquam, recusandae laudantium? Nihil, animi! Quo corporis vitae ex cumque dolor? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore nisi temporibus voluptas libero sint modi, quas laboriosam doloribus, vitae repellendus velit laudantium quaerat consequatur ratione obcaecati architecto magnam sapiente eaque ipsam praesentium nesciunt alias. Optio, ea quos quo sunt numquam in exercitationem temporibus saepe fugit et corrupti adipisci, soluta quibusdam eius dolore earum, illo architecto suscipit. Molestias, magnam fuga?</p>
    </div>
</div>