.navbar{
    padding: 0%;
}
.navbar-text {
 color: white;
 text-shadow: #3700ff5b;
 padding: 15px; 
}

.btn-group{
    color: white;
    background-color: #150060;
    border-radius: 15px;
    opacity: 1;
}
.container{
    background-image: url(/assets/FL1.gif);
}
.dropdown-menu{
    background: #3700ff96;
    border-radius: 15px;
}
.dropdown-item{
    color: white;
}
.dropdown-item:hover{
    color:#150060
}
.btn{
    color: rgb(255, 255, 255);
}