body {
    background: #3100A3 ;
    display: flex;
    place-content: center center;
}
.containerm {
    width: 50%;
}

.containerm path {
    fill: #000;
    stroke: aliceblue;
}

.containerm :hover {
    fill: #3100A3;
    box-shadow: #63005e;
}